# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
bin/
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear

# Allure
allure-results/
allure-report/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Other
*.swp
